[submodule "libbib"]
	path = libbib
	url = git@priv-git.csc.kth.se:utilities/libbib.git
	branch = master
[submodule "makefiles"]
	path = makefiles
	url = git@github.com:dbosk/makefiles.git
	branch = master
